@font-face {
    font-family: "Padauk";
    src: url(Padauk-Regular.ttf);
}
.title {
    font-family: "Padauk";
    font-size:5vw;
    color: white;
    margin-left: 24vw;
}
a {
    font-family: "Padauk";
    color: white;
    text-decoration:none;
}
a:visited {
    color: white;
    opacity:95%;
}
.infocontainer {
    display:grid;
    margin-left: 7.5vw;
    margin-right: auto;
}
.info {
    display:inline;
    margin-right: 5vmin;
    margin-bottom: 2.5vh;

}
.info:hover {
    opacity: 100;
}
.description, .extra, .contact {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.extra {
    opacity: 0;
}
.extra:hover {
    opacity: 100;
}
.contact {
    margin-left: 55vw;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: auto;
}
.movingbg {
    position: fixed;
    z-index: -1;
    right:0;
    top:0;
    background-color: black;
} 
.videoinbg {
    height:100vh;
    width: 100vw;
    opacity: 20%;
}