@font-face {
    font-family: "Padauk";
    src: url(Padauk-Regular.ttf);
}
.title {
    font-family: "Padauk";
    font-size:5vw;
    color: white;
    margin-left: 24vw;
}
a {
    font-family: "Padauk";
    color: white;
    text-decoration:none;
}
a:visited {
    color: white;
    opacity:100%;
}
.infocontainer {
    display:grid;
    margin-left: 7.5vw;
    margin-right: auto;
}
.info {
    display:inline;
    margin-right: 5vmin;
    margin-bottom: 2.5vh;

}
.info:hover {
    opacity: 100;
}
.description, .extra, .contact {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.extra {
    opacity: 10;
}
.extra:hover {
    opacity: 100;
}
.contact {
    margin-left: 55vw;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 5vmin;
}
/*background style*/
.movingbg {
    position: fixed;
    z-index: -1;
    right:0;
    top:0;
    background-color: black;
} 
.videoinbg {
    height:100vh;
    width: 100vw;
    opacity: 20%;
}
.mobilegifbg {
    position: fixed;
    z-index: -1;
    right:0;
    top:0;
    width: 100vw;
    display: none;
}

/*mobile design*/ 
@media screen and (max-width:1150px) {
    .movingbg {
        display: none;
    } 
    body {
        background-image: url("openheart.gif");
        background-size:cover;
        background-position: center;
    }
    .title {
        font-family: "Padauk";
        font-size:10vw;
        color: white;
        margin-left: 24vw;
        padding-bottom: 5vh
    }
    .extra {
        opacity: 80%;
    }
    .extra:hover {
        opacity: 100;
    }
    .contact {
        margin-left: 30vw;
        margin-right:5vmin;
        margin-top: 15vh;
        margin-bottom: 10vmin;
    }
    p {
        line-height: 75%;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    a {
        font-family: "Padauk";
        color: white;
        text-decoration:underline;
    }
}