p, h1, ul, label {
    font-family: Helvetica, sans-serif;
    color: black;
}
/* VIDEO BACKGROUND STYLE
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
PHOTO BACKGROUND ST
.photobg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
*/
header{
    position: sticky;
    top: 0;
}
h1 {
    margin-top: 1%;
    padding: none;
}
p {
    text-align: justify;
    text-justify: inter-ideograph;
}
.navbarhome {

}
.navbar {
position: fixed;
display:inline;
justify-content: end;
text-align:right;
list-style-type: none;
}
#navbar {
margin-top: 2vw;
margin-left: 80vw;
}
#contact-text {
display:flex;
width: 30vw;
padding: 5vw;
}
#form {
    display: block;
    width: 30vw;
    padding:5vw;
    ;
}
.flexbox {
    display: flex;
}
#name, #detail {
    width: 25vw;
    margin:.25vw
}
#entry {
    width: 25vw;
    height: 10rem;
    margin:.25vw;
}
input[type=submit] {
margin: .5vw;
}

.labelContainer{
    display: flex;
    flex-direction: column;
}
#about-flex {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
}
#about-flex-items {
    width: 35vw;
}
#about-img {
    max-height: 25vw;
    height: auto;
    float: right;
    height: inherit;
   
}
section {
    width: 75vw;
}
#about-teaser {
width: 72.5vw;
height:fit-content;
}