
p, h1 {
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}
/* VIDEO BACKGROUND 
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
*/

.photobg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section{
    height:300vh;
}

header{
    position: sticky;
    top: 0;
}
.textone {
    width: 30vw;
    height: 25vh;
    margin-left: 20%;
    margin-right: 70%;
    margin-top: 10%;
}
.footnote {
    font-size: .7rem;
    text-align: right;
    margin-top: 40vh;
}
h1 {
    margin-top: 1%;
    padding: none;
}
