
p, h1 {
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}
/* VIDEO BACKGROUND STYLE
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
PHOTO BACKGROUND ST
.photobg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
*/
header{
    position: sticky;
    top: 0;
}
h1 {
    margin-top: 1%;
    padding: none;
}
.navbarhome {

}
.navbar {

}